<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>しおり / タイムテーブル</title>

    <link rel="stylesheet" type="text/css" href="shiori.css">
</head>
<body>

<headed>
    <div class="container">
        情報処理学会　ぴよぴよシンポジウム委員会
        <h1>第50回ぴよぴよシンポジウム</h1>
        2017年10月7日 ~ 2017年10月8日
        <div id="sponser">
            <h3>協賛</h3>
            <ul>
                <li>ほげ株式会社 様(1口)</li>
            </ul>
        </div>
    </div>
</headed>

<div id="contents">
    <div class="container">
        <h2>タイムテーブル</h2>
        {% for table in tables %}
        <section class="table">
            <h3>{{ titles[loop.index - 1] }}</h3>
            <table>
                {% for row in table %}
                <tr align="center">{% for cell in row %}
                    {{ cell }}{% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        {% endfor %}
    </div>

    <div class="container">
        <h2>アクセス</h2>
        <section class="text">
            <div class="text-body">
                山喜旅館の最寄り駅はJR伊東線伊東駅です。
            </div>
        </section>
        <section class="text">
            <h3>徒歩</h3>
            <div class="text-body">
                伊東駅から約7分です。
            </div>
        </section>
    </div>
</div>
</body>
</html>