table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 2px solid #000;
}

th {
    border-bottom: 4px solid #000;
    border-right: 2px solid #000;
    padding: 0.5em;
}

td {
    border-bottom: 2px dashed #000;
    border-right: 2px solid #000;
    padding: 0.5em;
}

td.right, th.right {
    border-right: 0;
}
