<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>しおり</title>

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>

<headed>
    <header>
        <div class="container">
            <span class="sub-text top">一般社団法人　情報処理学会　プログラミングシンポジウム委員会</span>
            <div class="title">
                <h1>第50回情報科学若手の会</h1>
                <span class="sub-text bottom">2017年10月7日 ~ 2017年10月9日</span>
            </div>
        </div>
        <div class="container">
            <section>
                <h3>協賛</h3>
                <table class="sponsor">
                    {% for row in sponsor %}
                    <tr align="center">{% for cell in row %}
                        {{ cell }}{% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    </header>
</headed>

</body>
</html>
