<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>しおり</title>

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/text.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>

<div id="contents">
    {% for section in info %}
    <div class="container">
        <section class="text">
            {{ section }}
        </section>
    </div>
    {% endfor %}
</div>

</body>
</html>
