<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>しおり</title>

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>

<div id="contents">
    <div class="container">
        <h2>タイムテーブル</h2>
        {% for section in timetables %}
        <section class="timetable">
            <h3>{{ timetable_headings[loop.index -1] }}</h3>
            {% for row in section %}
            <p class="session_header">{{ row['header'] }}</p>
            {% for item in row['detail'] %}
            <p class="session_detail">{{ item }}</p>{% endfor %}
            {% endfor %}
        </section>
        {% endfor %}
    </div>
</div>

</body>
</html>
