<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>しおり</title>

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="stylesheet" type="text/css" href="css/text.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>

<headed>
    <header>
        <div class="container">
            <span class="sub-text top">一般社団法人　情報処理学会　プログラミングシンポジウム委員会</span>
            <h1>第52回情報科学若手の会</h1>
            <span class="sub-text bottom">2019年10月12日 ~ 2019年10月14日</span>
        </div>
        <div class="container">
            <section>
                <h3>協賛</h3>
                <table class="sponsor">
                    {% for row in normal_sponsor %}
                    <tr align="center">{% for cell in row %}
                        {{ cell }}{% endfor %}
                    </tr>
                    {% endfor %}
                </table>

                <!--
                <h3>協賛(懇親会)</h3>
                <table class="sponsor">
                    {% for row in party_sponsor %}
                    <tr align="center">{% for cell in row %}
                        {{ cell }}{% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                -->
            </section>
        </div>
    </header>
</headed>

<div id="contents">
    <div class="container">
        <h2>タイムテーブル</h2>
        {% for table in timetables %}
        <section class="table">
            <h3>{{ timetable_headings[loop.index - 1] }}</h3>
            <table class="timetable">
                {% for row in table %}
                <tr align="center">{% for cell in row %}
                    {{ cell }}{% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        {% endfor %}
    </div>

    <div class="container">
        <h2>発表概要</h2>
        {% for table in abst_tables %}
        <section class="table">
            <h3>{{ abst_headings[loop.index -1] }}</h3>
            <table class="timetable">
                {% for row in table %}
                <tr align="center">{% for cell in row %}
                    {{ cell }}{% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        {% endfor %}
    </div>

    {% for section in info %}
    <div class="container">
        <section class="text">
            {{ section }}
        </section>
    </div>
    {% endfor %}

    <div class="container">
        <h2>部屋割り</h2>
        {% for table in room_tables %}
        <section class="table">
            <h3>{{ room_headings[loop.index -1] }}</h3>
            <table class="room">
                {% for row in table %}
                <tr align="center">{% for cell in row %}
                    {{ cell }}{% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        {% endfor %}
    </div>

    {% for section in ryokan %}
    <div class="container">
        <section class="text">
            {{ section }}
        </section>
    </div>
    {% endfor %}

</div>
</body>
</html>
