h1 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #5882bc;
}

div.title {
    margin: 11em 0;
}

span.sub-text, h1 {
    display: block;
    text-align:center;
}

span.top {
    margin-top: 1em;
}

header .sub-text {
    color: #5882bc;
}

header .bottom {
    font-size: 1.5em
}

table.sponsor {
    width: 100%;
    table-layout: fixed;
    border: 0;
}

table.sponsor img {
    width: 100%;
}

table.sponsor td {
    padding: 0 1em;
}

section.sponsor {
    margin-top: 1em;
}