section.table {
    margin-bottom: 4em;
}

section.table h3 {
    margin: 0.5em 0 1.5em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 2px solid #333;
}

table.timetable {
    width: 100%;
    width: 100%;
}

.timetable th {
    border-bottom: 4px solid #333;
    border-right: 2px solid #333;
    padding: 0.5em;
}

.timetable td {
    border-bottom: 1px dashed #333;
    border-right: 2px solid #333;
}

.room th {
    width: 120px;
    padding: 0.5em;
    border-right: 1px solid #333;
    border-bottom: 4px solid #333;
}

.room td {
    padding: 0.5em;
    border-bottom: 1px dashed #333;
    border-right: 1px solid #333;
}

.right_edge {
    border-right: 0 !important;
}

td.detail {
    padding: 0 4px;
}

th.time {
    width: 10%
}

th.program {
    width: 20%
}

th.detail {
    width: 60%
}

th.chairperson {
    width: 10%
}

th.name {
    width: 15%;
}

th.title {
    width: 25%;
}
